<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
  <form th:action="@{/blog/create}" th:object="${boardCreateForm}" enctype="multipart/form-data" method="post">
    <label>제목 : </label>
    <input type="text" th:field="*{title}"><br>
    내용 : <textarea cols="100" rows="5" th:field="*{content}"></textarea><br>
      <input type="file" th:field="*{file}">
    <button type="submit">등록</button>
  </form>
</body>
</html>